#welcome
 {
     border: black 2px solid;
     color: orange;
     background-color: grey;
     text-align: center;
     font-family: Futura;
     font-size: 75px;
 }

body
{
    background: url(BackgroundMckernan28.png);
    background-position:top center;
    background-attachment:fixed;
}

p
{
    color: white;
    font-size: 30px;
    font-family: Futura;
    border-color: white;
}

#BF4Border
{
    border: 5px;
    border-color: orange;
}