#welcome
 {
     border: black 2px solid;
     color: orange;
     background-color: grey;
     text-align: center;
     font-family: Futura;
     font-size: 75px;
 }

body
{
    background: url(BackgroundMckernan28.png);
    background-position:top center;
    background-attachment:fixed;
}

p
{
    color: white;
    font-size: 30px;
    font-family: Futura;
    border-color: white;
}

#BF4Border
{
    border: 5px;
    border-color: orange;
}

/* Start */
#menu li.menuitem
{
    width: 100px;
    height: 30px;
    float: left;
    margin: 0 10px;
}
.submenu
{
    display: none;
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}
.submenuactive
{
    display: block;
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}
/* End */