body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.page-container {
    background-color: #e8e8e8;
}



.banner-container {
    display: block;
    height: 72px;
    background-color: white;
}

.banner-container-left {
    display: inline-flex;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner-container-right {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-link {
    margin: auto;
    padding: 0;
    display: inline-flex;
}

.banner-logo {
    height: 50px;
    padding: 0;
}

.banner-phrase {
    padding: 0;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.menu-bar {
    width: 100%;
    background-color: #426098;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    display: inline-flex;
}

.menu-bar-active {
    top: 0;
    position: fixed;
}

.avatar-container {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.contacts-container {
    padding: 10px 10px 10px 10px;
    display: inline-flex;
    width: 50%;
}

.avatar-list {
    display: inline-flex;
    margin: 0 6px;
    float: left;
}

.square {
    display: inline-flex;
    width: 39px;
    height: 39px;
    background-color: black;
    -webkit-transition: .3s ease all;
    transition: .5s ease all;
    border-radius: 100%;
}

.square-active {
    border-radius: 10%;
    transform: scale(1.2, 1.2);
}

.test {
    display: inline-flex;
}













.menu {
    display: block;
    width: 50%;
}

.hamburger-container {
    margin: 17px 20px 0 0;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.hamburger {
    width: 35px;
    display: block;
    float: right;
    margin: 0;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.bun, .meat{
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: #FFFFFF;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.meat {
    margin: 5px 0;
}

.hamburger-active{
    transform: rotate(-45deg);
}

.hamburger-active .meat {
    margin: 2px 0;
}

.hamburger-active .top {
    width: 5px;
    height: 13px;
    margin-left: 15px;
    border-radius: 25px 25px 0 0;
}
.hamburger-active .bottom {
    width: 5px;
    height: 13px;
    margin-left: 15px;
    border-radius: 0 0 25px 25px;
}


.margin-adjust-menu {
    margin-top: 12px;
}

.dropdown-menu-container {
    position: absolute;
    background-color: #212e4b;
    width: 100%;
    transition: .3s ease all;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.dropdown-menu-container-activated {
    position: fixed;
    top: 59px;
}

.dropdown-menu-container-active {
    max-height: 500px;
    transition: 0.4s ease-in;
}

.dropdown-menu  {
    display: inline-flex;
    width: 100%;
}

.profile-overview-menu-settings-container {
    width: 50%;
    display: inline-flex;
}

.settings-menu-settings-container {
    display: block;
    width: 50%;
}

.profile-overview-menu-settings {
    float: left;
    text-align: center;
    font-family: 'Helvetica';
    display: block;
    margin: 20px 0 20px 20px;
}

.profile-name-menu-settings {
    color: #FFFFFF;
    margin: 0 0 2px 0;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

.profile-username-menu-settings {
    color: #b2b2b2;
    margin: 0;
    font-size: 10px;
    display: block;
    text-decoration: none;
}

.profile-name-menu-settings:hover {
    color: #cfe8ff;
}

.profile-username-menu-settings:hover {
    color: #85a5b2;
}

.dropdown-menu-settings {
    display: block;
    margin: 27.25px auto;
}

.dropdown-menu-settings-link {
    color: #647797;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
    transition: 0.1s ease-in;
}

.dropdown-menu-settings-link:hover {
    color: #97b3e0;
}

.dropdown-menu-settings-link-container {
    list-style: none;
    margin: 43.5px 0 43.5px 30px;
    padding: 0;
}

.profile-picture-menu-settings {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin: auto;
}

.img-container {
    display: block;
    margin: 0 auto 5px;
}

.overcast-text {
    display: block;
    color: #647784;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 11px;
    margin: 3px auto 6px;
}

.overcast-text:hover {
    text-decoration: underline;
    color: white;
}

.banner-container-compensator {
    display: block;
    margin: auto;
}

.banner-container-compensator-active {
    margin-top: 59px;
}

#main-page-image-container {
    width: 100%;
    display: block;
}

#main-page-image {
    width: 100%;
}

#main-page-content-container {
    display: inline-flex;
    width: 100%;
}

.content-container {
    display: block;
    margin: 20px auto;
    width: 60%;
    background-color: #ffffff;
    font-family: 'Helvetica';
    padding: 35px;
}

.content-title-container {
    width: 100%;
}

.content-title {
    margin: 0 0 25px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.content-image-container {
 width: 100%;
}

.content-image {
    width: 100px;
    display: block;
    margin: 40px auto;
    border-radius: 100%;
}

.content-paragraph-container {
    width: 100%;
}

.content-paragraph {
    text-align: center;
    margin: 0 10px;
}

.footer-container {
    bottom: 0;
}

.footer {
    background-color: white;
}

.footer-text {
    font-family: 'Helvetica';
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #b4b4b4;
}








@media (min-width: 480px) {
    .banner-container {
        height: 50px;
        padding: 10px 10px 0 10px;
    }

    .banner-container-left {
        width: 50%;
    }

    .banner-container-right {
        width: 50%;
        text-align: right;
    }

    .logo-link {
        margin: 0;
    }

    .banner-phrase {
        margin: 0;
        padding-top: 20px;
        font-size: 20px;
    }

    .dropdown-menu-settings {
        float: right;
        margin: 38.5px 60px 38.5px 0;
    }

    .dropdown-menu-settings-link-container {
        margin: 0;
    }
}

@media (min-width: 800px) {
    .content-container {
        width: 470px;
    }

}